:root {
  --color-header-bg: #24292f;
  --color-header-border: #57606a;
  --color-bg-default: #ffffff;
  --color-bg-accent: #ddf4ff;
  --color-bg-accent-muted: rgba(84,174,255,0.4);
  --color-border-accent: rgba(84,174,255,0.4);
  --color-sidebar-bg: #f0f0f0;
  --color-input-bg: #f6f8fa;
  --color-font-bg: #e1e1ff;
  --color-tp-default: #24292f;
  --color-tp: #57606a;
  --color-header-border: #57606a;
  --color-header-tp: #ffffff;
  --color-header-logo: #ffffff;
  --color-tp-muted: #57606a;
  --color-border-muted: hsla(210,18%,87%,1);
  --border-color-default: #d0d7de;
  --color-primary: $color-accent-fg;
  --color-secondary: $color-cyan-accent;
  --color-accent-subtle: $color-success-subtle;
}

h1 {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2;
  font-size: 2.5rem;
}
@media (min-width: 500px) {
  h1 {
    font-size: 3.25rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.625rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 700;
  line-height: 1.3333333333;
  font-size: 2rem;
}
@media (min-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5rem;
}
@media (min-width: 500px) {
  h3 {
    font-size: 1.625rem;
  }
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}
@media (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
}
@media (min-width: 500px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.125rem;
}
@media (min-width: 500px) {
  h5 {
    font-size: 1.1875rem;
  }
}
@media (min-width: 768px) {
  h5 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-weight: 700;
  line-height: 1.5555555556;
  font-size: 1.0625rem;
}
@media (min-width: 500px) {
  h6 {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  h6 {
    font-size: 1.125rem;
  }
}
@media (min-width: 1024px) {
  h6 {
    font-size: 1.125rem;
  }
}

p, p[data-variant=body1] {
  line-height: 1.5;
  font-size: 1rem;
}

p[data-variant=body2] {
  line-height: 1.5714285714;
  font-size: 0.875rem;
}

p[data-variant=subtitle1] {
  font-weight: 600;
  line-height: 1.5;
  font-size: 1rem;
}

p[data-variant=subtitle2] {
  font-weight: 600;
  line-height: 1.5714285714;
  font-size: 0.875rem;
}

p[data-variant=body1] {
  line-height: 1.5;
  font-size: 1rem;
}

p[data-variant=body1] {
  line-height: 1.5;
  font-size: 1rem;
}

p[data-variant=caption] {
  line-height: 1.5;
  font-size: 0.75rem;
}

p[data-variant=overline] {
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 0.75rem;
}

button {
  font-weight: 700;
  line-height: 1.7142857143;
  font-size: 0.875rem;
  text-transform: capitalize;
}

[data-theme=dark] {
  --color-header-bg: #161b22;
  --color-header-border: rgba(255,255,255,.15);
  --color-bg-default: #30363d;
  --color-bg-accent: rgba(56,139,253,0.15);
  --color-bg-accent-muted: rgba(56,139,253,0.4);
  --color-border-accent: rgba(56,139,253,0.4);
  --color-sidebar-bg: #f0f0f0;
  --color-input-bg: #010409;
  --color-font-bg: #1a1f24;
  --color-tp-default: #c9d1d9;
  --color-tp: #8b949e;
  --color-header-border: #30363d;
  --color-header-tp: #rgba(255,255,255,0.7);
  --color-header-logo: #ffffff;
  --color-tp-muted: #30363d;
  --color-border-muted: #21262d;
  --border-color-default: #30363d;
  --color-primary: $color-cyan-accent;
  --color-secondary: $color-cyan-accent;
  --color-accent-subtle: $color-success-subtle;
}

[data-theme=rick] {
  --color-bg-default: $color-purple-default;
}

[data-theme=morty] {
  --color-header-tp: black;
  --color-bg-default: $color-orange-defaul;
}

html,
body {
  background-color: var(--color-bg-default);
  font-family: Public Sans sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.itemList {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.options:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* set theme styles for every theme variant */
/* if user switches the system settings to dark mode */
/* this media query will be applied *//*# sourceMappingURL=global.css.map */