@use "sass:map"
@import "./abstracts/all.module"
@import "./base/all.module"
@import "./themes/all.module"

html,
body
    background-color: var(--color-bg-default)
    font-family: #{$font-primary}
    padding: 0
    margin: 0
    line-height: 1.6
    font-size: 18px
*
    box-sizing: border-box

@mixin nav-content
    display: flex
    justify-content: space-between
    padding: 20px
    gap: 5%

.itemList
    display: flex
    gap: 20px
    justify-content: space-between

.options
    &:hover
        cursor: pointer
        text-decoration: underline

/* set theme styles for every theme variant */
// [data-theme]
//     @include morty-mode

// [data-theme="dark"]
//     @include morty-mode

// [data-theme="light"]
//     @include morty-mode

/* if user switches the system settings to dark mode */
/* this media query will be applied */
@media (prefers-color-scheme: light)
    [data-theme*=dark]
        // @include rick-mode

@media (prefers-color-scheme: dark)
    [data-theme*=dark]
        // @include rick-mode

// @media (prefers-color-scheme: dark) 
//     [data-theme=dark]
//     :root
//         @include rick-mode

// @media (prefers-color-scheme: light)
//     [data-theme=]
//     :root
//         @include morty-mode

// @media (prefers-color-scheme: light)
//     [data-light-theme]
//     :root
//         @include morty-mode
