$rick-theme: #97ce4c
$morty-theme: #f0e14a

$rick-dark: #78a43c
$morty-dark: #90872c

$morty-colors: ("morty-dark": #90872c, "morty-light":#f0e14a)
$rick-colors: ("rick-dark": #78a43c, "rick-light":#97ce4c)
